.auctionsList > div {
  padding: 10px;
  color: wheat;
  font-size: 20px;
}
.auctionsList {
  max-width: 800px;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.auctions {
  display: flex;
  margin-top: 25px;
  flex-direction: column;

  max-width: 800px;
}
.headline {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: #fff;
  background-color: #000;
  padding: 10px;
}

.auctionsContainer {
  display: flex;
}
.auctionInfo {
  margin-left: 25%;
  align-items: baseline;
}
.auctionInfoContainer {
  border: 1px solid white;
  margin-left: 20%;
  padding: 25px;
  font-size: large;
  min-width: 300px;
}
.auctionInfo {
  color: #fff;
}
