body {
  background-color: black;
}
/* .clientProfilePageContainer {
  background-color: black;
  height: 100vw;
} */

.clientProfileBackgroundImage {
  object-fit: cover;
  height: 250px;
  width: 100%;
  z-index: -1;
}

.clientProfileAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -13%;
  max-height: 100px;
}
.clientProfileName {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* .clientProfileName > div > p {
  display: flex;
  justify-content: center;
} */
.clientProfileNavItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  cursor: pointer;
}
.profileMenu {
  background-color: black;
  flex: 1;
}
.profileNewsFeed {
  background-color: black;
}
.clientProfileButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clientProfileInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  font-size: 22px;
}
.clientProfileInfo > p {
  color: lightgray;
  cursor: pointer;
}
.clientProfileInfo > p:hover {
  color: white;
  transition: 400 ease-in-out;
}

.eventsDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
}

.eventsDescription > span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  /* font-weight: 400; */
  font-size: 20px;
}
thead {
  justify-content: center;
}

.allEvents {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* buttons */
.button {
  transition: all 0.4s ease;
  width: 100px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 6px;

  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.button:hover {
  opacity: 0.8;
  color: black;
  background: white;
  border: 1px solid #fff;
  border-radius: 25px;
}
.button:active {
  opacity: 0.6;
}
button {
  text-align: center;
}
